$colors: (
  blue: (
    10 : #212886,
    5 : #5163C2,
    1 :  #B2BAE4,
  ),
  yellow: (
    10 : #DF8B1A
  ),
  red : (
    900 : #FE4D4F
  ),
  white : (
    10 : #ffffff,
    7 : #EDF3FE
  ),
  gray : (
    900 : #404040,
    800 : #595959,
    700 : #BFBFBF,
    600 : #D9D9D9,
    500 : #F2F2F2,
  )
);

:root{
    @each $color , $shades in $colors{
        @each $shade , $value in $shades{
            --#{$color}-#{$shade} : #{$value};
        }
    }
}

