$colors: (
  blue: (
    10 : #0D244D,
    8 : #113066,
    6 : #143673,
    4 : #1E55B3,
    2 : #2973F2
  
  ),
  yellow: (
    10 : #F2B705
  ),
  red : (
    900 : #FE4D4F
  ),
);

:root{
    @each $color , $shades in $colors{
        @each $shade , $value in $shades{
            --#{$color}-#{$shade} : #{$value};
        }
    }
}

