@mixin button {
    appearance: none;
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
        rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;

    &:disabled {
        background-color:var(--gray-600);
        border-color: rgba(27, 31, 35, 0.15);
        color: #959da5;
        cursor: default;

        &:hover {
            background-color: var(--gray-600);
            border-color: rgba(27, 31, 35, 0.15);
            color: #959da5;
        }
    }

    &:focus {
        outline: 1px transparent;
    }

    &:before {
        display: none;
    }

    &:-webkit-details-marker {
        display: none;
    }
}

/** DEFAULT-PRIMARY**/

.button.default.primary {
    @include button();
    background-color: var(--blue-500);
    border: 1px solid var(--blue-600);
    color: var(--white-900);

    &:hover {
        text-decoration: none;
        transition-duration: 0.1s;
        background-color: var(--white-900);
        color: var(--blue-600);
        border: 1px solid var(--blue-500);
    }
}

/** DEFAULT-SECONDARY **/

.button.default.secondary {
    @include button();
    background-color: var(--white-900);
    border: 1px solid var(--blue-500);
    color: var(--yellow-900);

    &:hover {
        text-decoration: none;
        transition-duration: 0.1s;
        background-color: var(--blue-500);
        color: var(--white-900);
        border: 1px solid var(--white-900);
        text-decoration: none;
        transition-duration: 0.1s;
    }
}

//** OUTLINED-PRIMARY **/

.button.outlined.primary {
    @include button();
    background-color: transparent;
    border: 1px solid var(--gray-600);
    color: var(--blue-600);

    &:hover {
        text-decoration: none;
        transition-duration: 0.1s;
        background-color: var(--white-900);
        color: var(--blue-600);
        border: 1px solid var(--blue-500);
    }
}

//** OUTLINED-SECONDARY **/


.button.outlined.secondary {
    @include button();
    background-color: transparent;
    border: 1px solid var(--gray-600);
    color: var(--gray-900);

    &:hover {
        text-decoration: none;
        transition-duration: 0.1s;
        background-color: var(--white-900);
        color: var(--gray-900);
        border: 1px solid var(--gray-700);
    }
}

